<!-- シェアボタン START -->
  <ul class="social-button">
    <%
        let link = full_url_for(path).replace("index.html", "");
        let title = "";

        // Pocketのサービス終了日
        const pocketExpiryDate = new Date('2025-07-08');
        // 判定用の基準日（デフォルトはビルド時の現在時刻）
        let targetDate = new Date();

        if (typeof post !== 'undefined') {
            link = post.permalink;
            title = post.title;
            // 記事ページの場合は、基準日を「記事の公開日」で上書きする
            if (post.date) {
                targetDate = new Date(post.date);
            }
        }
        const posts = site.posts;
    %>
    <!-- Twitter -->
    <li>
      <a class="social-btn x-btn" href="https://twitter.com/intent/tweet?url=<%- link %>&related=twitterapi%2Ctwitter&text=<%- encodeURIComponent(title + " | フューチャー技術ブログ") %>" rel="nofollow">
        <i></i><span class="social-btn-label"><%= get_x_count(link) %></span>
      </a>
    </li>
    <!-- Facebook -->
    <li>
      <a class="social-btn fb-btn" href="http://www.facebook.com/share.php?u=<%- link %>&t=<%- encodeURIComponent(title) %>" rel="nofollow">
        <i></i><span class="social-btn-label"><%= get_fb_count(link) %></span>
      </a>
    </li>
    <!-- hatebu -->
    <li>
      <a class="social-btn hatebu-btn" href="https://b.hatena.ne.jp/entry/s/<%- encodeURI(link).replace('https://', '') %>" rel="nofollow">
        <i></i><span class="social-btn-label"><%= get_hatebu_count(link) %></span>
      </a>
    </li>
    <!-- pocket -->
    <% if (targetDate < pocketExpiryDate) { %>
    <li>
      <a class="social-btn pocket-btn" href="https://getpocket.com/save?url=<%- encodeURI(link) %>" rel="nofollow">
        <i></i><span class="social-btn-label"><%= get_pocket_count(link) %></span>
      </a>
    </li>
    <% } %>
    <% if (is_home() && feed) { %>
      <li>
        <a class="social-btn feedly-btn" href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Ffuture-architect.github.io%2Fatom.xml" rel="nofollow">
          <i></i><span class="social-btn-label"><%= get_feedly_count(link) %></span>
        </a>
      </li>
    <% } %>
  </ul>
<!-- シェアボタン END -->
