<% if(page.content){ %>
  <%- page.content %>
<% } else { %>
  <div class="container">
    <ul class="breadcrumb">
      <% if (page.current === 1) { %>
      <li class="active">Home</li>
      <% } else { %>
      <li>Home</li>
      <li class="active"><%= page.current %>ページ目</li>
      <% } %>
    </ul>
    <% if (page.current > 1) { %>
    <%
        const perPage = 25;
        const start_post = (page.current - 1) * perPage + 1;
        const end_post = Math.min((page.current - 1) * perPage + perPage, site.posts.length);
    %>
    <div class="pagination-info">
     <%= site.posts.length %>記事中の <%= start_post %> ～ <%= end_post %> を表示
    </div>
    <% } %>
    <%- partial('_partial/archive', {pagination: config.archive}) %>
    <div class="home-social-button">
      <div class="container">
      <%- partial('_partial/social-button', {feed:true}) %>
      </div>
    </div>
  </div>
<% } %>

